﻿body {
    text-align: center;
}

ul {
    list-style-type: none;
    position: sticky;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: cornflowerblue;
}

.firstname-header {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 8px;
    text-decoration: none;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: left;
}

li a {
    padding: 7px 8px;
    color: white;
}


li a:hover {
    color: black;
    background-color: white;
}

li a:focus {
    text-decoration: None;
    color: black;
}


