﻿body {
}

ul {
    list-style-type: none;
    position: sticky;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: cornflowerblue;
}   

/*
the navbar elements
*/

li {
    margin-right: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: right;
}


    li:hover {
        text-decoration: None;
        color: white;
    }

    li:focus {
        text-decoration: None;
        color: white;
    }

    li a {
        padding: 7px 8px;
        color: white;
    }


        li a:hover {
            color: black;
            background-color: white;
        }

        li a:focus {
            text-decoration: None;
            color: white;
        }