﻿
#login_page {
    text-align: center;
}


#username_textbox,
#password_textbox {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

#username_textbox:focus,
#password_textbox:focus {
    outline: none;
}


#login_btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 25px;
    width: 120px;
}

    #login_btn:hover {
        background-color: black;
        color: white;
        opacity: 0.95;
        transition: 0.3s;
    }

    #login_btn:focus {
        outline: none;
    }