﻿body {
}



ul {
    list-style-type: none;
    position: sticky;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: cornflowerblue;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    float: left;
}

    li a {
        padding: 7px 8px;
        color: white;
    }


        li a:hover {
            color: black;
            background-color: white;
        }

        li a:focus {
            text-decoration: None;
            color: white;
        }

#date_droplist,
#classes_droplist,
#lesson_num,
#subject_droplist {
    color: black;
}

#add_lesson_btn,
#del_lesson_btn {
    color: white;
    border: none;
    background-color: transparent;
}

    #add_lesson_btn:hover,
    #del_lesson_btn:hover {
        color: black;
        background-color: white;
    }

    #add_lesson_btn:focus,
    #del_lesson_btn:focus {
        color: white;
        border: none;
        background-color: transparent;
        text-decoration: none;
    }