﻿#signup_form {
    text-align: center;
}

#img {
    margin-left: 45%;
    margin-right: 45%;
}

#profileDisplay {
    border-radius: 50%;
}

#firstname_textbox,
#id_number_textbox,
#password_textbox,
#password_conf_textbox {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

    #firstname_textbox:focus,
    #id_number_textbox:focus 
    #password_textbox:focus,
    #password_conf_textbox:focus, {
        outline: none;
    }


#signup_btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 25px;
    width: 120px;
}

    #signup_btn:hover {
        background-color: black;
        color: white;
        opacity: 0.95;
        transition: 0.3s;
    }

    #signup_btn:focus {
        outline: none;
    }
